<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  
  <!--Favicon-->
  <link rel="icon" href="../media/favicon.svg" type="image/x-icon">
  <title>Books library</title>
</head>

<body>
  <div class="container">
    <!-- Навигация -->
    <nav class="sticky-top" style="top: 15px; margin-bottom: 30px;" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item {{ 'disabled' if not prev_link else '' }}">
          <a class="page-link" href="{{ prev_link or '#' }}">Предыдущая</a>
        </li>
        {% for page_num in range(1, total_pages + 1) %}
        <li class="page-item {{ 'active' if page_num == current_page else '' }}">
          <a class="page-link" href="index{{ page_num }}.html">{{ page_num }}</a>
        </li>
        {% endfor %}
        <li class="page-item {{ 'disabled' if not next_link else '' }}">
          <a class="page-link" href="{{ next_link or '#'}}">Следующая</a>
        </li>
      </ul>
    </nav>
    <!-- Книги -->
    {% for row in books_rows %}
    <div class="row">
      {% for book in row %}
      <div class="col-6 mb-3">
        <div class="card h-100">
          <div class="row no-gutters">
            <div class="col-12 col-sm-6">
              <img src="../media/{{ book.img_src }}" class="card-img" alt="{{ book.title }} {{ book.author }}">
            </div>
            <div class="col-12 col-sm-6 d-flex align-items-center">
              <div class="card-body text-center w-100 mt-3 mt-sm-0">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.author }}</p>
                {% for genre in book.genres_list %}
                <h6><span class="badge badge-pill badge-light">{{ genre }}</span></h6>
                {% endfor %}
                <p><a href="../media/{{book.book_path | urlencode }}" target="_blank" rel="noopener noreferrer">Читать</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../static/jquery-3.3.1.slim.min.js"></script>
  <script src="../static/popper.min.js"></script>
  <script src="../static/bootstrap.min.js"></script>
</body>

</html>